.view {
    background-size: cover;
}

.navbar {
    background-color: #03a9f4!important;
    opacity: 0.8;
}

.top-nav-collapse {
    background-color: whitesmoke;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #03a9f4!important;
        opacity: 0.8;
    }
}

html,
body,
.view {
  height: 103%;
  background-color:whitesmoke;
}

header {
    background-color:whitesmoke;
}

h5 {
    letter-spacing: 3px;
}

.list-group-item {
    list-style-type: none;
    background-color: transparent;
    border: none;
}

p, h5 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    font-size: 0.8rem;
}

a {
    color: #4f4f4f
}

p, a {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.logo {
    height: 35px;
    width: 35px;
}
.intropage {
    background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}